@use "../../../../../styles.scss" as scss;

.navigation-section {
  display: flex;
  flex: 1 0 100%;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  align-items: center;
  border-bottom: rgb(184, 181, 181) 2px solid;

  @media (max-width: 699px) {
    grid-template-columns: 1fr 1fr;
    background-color: map-get(scss.$atrib-palette-primary, 50);
  }
}

.logo-wrapper {
  display: grid;
  place-items: center start;

  img {
    display: inline-block;
    object-fit: contain;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;

  ul {
    display: flex;
    flex: 1 0 50%;
    width: 100%;
    align-items: center;

    li {
      color: scss.$atrib-text-color;
      color: scss.$dark-text;
      font-family: scss.$special-font;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.cta {
  display: flex;
  flex: 1 0 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  button {
    font-family: scss.$special-font;
  }
}
