<div class="navigation-section">
  <div class="logo-wrapper pi-m-1 pi-sm-2">
    <img
      class="h-m-7 w-m-7 h-xl-8 w-xl-8"
      src="../../../../../assets/atrib/logo/ATRIB LOGO.png"
      alt=""
    />
  </div>

  <nav class="navigation" id="primary-navigation">
    <ul role="list" class="jc-sm-center" aria-label="Primary">
      <li
        class="mi-m-1 fs-m-1 fs-sm-125 fw-sm-500 pi-md-0 fs-md-15 fw-md-600 pi-lg-1"
        *ngFor="let item of navItems.keys()"
        (click)="selectedPageEmitter.emit(navItems.get(item))"
      >
        {{ item }}
      </li>
    </ul>
  </nav>

  <div class="cta">
    <button
      *ngIf="!isSmallScreen"
      mat-raised-button
      [color]="'primary'"
      appButton
      class="mi-sm-2"
    >
      Login
    </button>
  </div>
</div>
