<section class="mb-m-0 mt-m-25 mt-mg-5">
  <div class="two-columns ai-lg-center ji-lg-center mi-mg-5">
    <div appTwoColsImg class="illustration">
      <img src="../../../../../assets/atrib/why/card_1.svg" alt="" />
    </div>

    <div class="content pi-m-15 pi-lg-0 pb-m-1 cw-lg-75 cw-xl-70">
      <div class="header">
        <h2 class="fs-m-3 fs-xl-4">Why we started Atrib</h2>
      </div>
      <div class="desc mb-m-15 fs-m-125 lh-m-175">
        <p>
          Digital marketing attribution is often biased, offline marketing
          attribution is difficult and privacy concerns are increasingly
          limiting user tracking. As a result, large parts of SMEs marketing
          spend is wasted.
        </p>
        <p>
          There are advanced tools to alleviate these challenges, but they are
          normally reserved for large corporations and global brands. We want to
          level the playing field for SMEs, by democratising these tools.
        </p>
        <p class="mt-xl-3 fs-xl-2">
          Our mission is to help small businesses spend their hard-earned
          marketing money wisely.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-m-0 mb-xl-5">
  <div class="two-columns ai-lg-center ji-lg-center" data-type="reverse">
    <div class="illustration p-m-1 p-sm-05 p-xl-5">
      <img src="../../../../../assets/atrib/why/card_2.svg" alt="" />
    </div>

    <div class="content pi-m-15 pi-lg-0 pb-m-1 cw-lg-75 cw-xl-70">
      <div class="header">
        <h2 class="fs-m-3 fs-xl-4">How Atrib Disrupts</h2>
      </div>
      <div class="desc mb-m-15 fs-m-125 lh-m-175">
        <p>
          We have taken an advanced analytical process called Marketing Mix
          Modelling (MMM) and digitised plus automated it, so that pretty much
          any marketing driven business can have access to it.
        </p>
        <p>
          MMM is usually performed by expensive marketing agencies – using data
          scientists or other highly paid specialists – to crunch data and
          conclude how much a marketing channel actually contributes to the
          sales of a business. As a result, the agencies can suggest or help
          simulate how changes in future channel mix or spend would improve
          marketing performance.
        </p>
        <p class="mt-xl-3 fs-xl-2">
          This is essentially what Atrib Pro does, just much smarter and for a
          fraction of the cost.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-m-1">
  <div class="two-columns ai-lg-center ji-lg-center">
    <div class="illustration p-m-1 p-sm-05 p-xl-5">
      <img src="../../../../../assets/atrib/why/card_3.svg" alt="" />
    </div>

    <div class="content pi-m-15 pi-lg-0 pb-m-1 cw-lg-75 cw-xl-70">
      <div class="header">
        <h2 class="fs-m-3 fs-xl-4">What Atrib also can do</h2>
      </div>
      <div class="desc mb-m-15 fs-m-125 lh-m-175">
        <p>
          We have built what is probably the best visualisation platform for
          marketing data out there. We have also added smooth connections with
          most major digital marketing channels, so that our users can easily
          fetch and view their own data. On top of this, we have added clever
          layers of publicly available data, to show how businesses are impacted
          by external factors, providing an eye-opening view on any marketing
          driven SME.
        </p>
        <p class="mt-xl-3 fs-xl-2">We offer all this entirely for free.</p>
      </div>
    </div>
  </div>
</section>
