@use "../../../../styles.scss" as scss;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: grid;
  width: 90%;
  height: 80vh;
  margin-inline: auto;
  place-items: center center;
  grid-template-columns: 1fr;
  grid-template-areas:
    "menu-bar"
    "display-area";
  grid-template-rows: 3rem 1fr;
  background: linear-gradient(
    90deg,
    scss.$atrib-dialog-color 50%,
    map-get(scss.$atrib-palette-primary, 400) 200%
  );
  border-radius: 0.5rem;
}

.menu {
  grid-area: menu-bar;
  display: flex;
  flex: 1 0 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-bottom: 1px scss.$atrib-blue solid;
}

.display-area {
  position: relative;
  grid-area: display-area;
  display: grid;
  place-items: center center;
}
