<div class="container pb-md-5 mb-md-5 mi-md-3">
  <div class="logo-wrapper">
    <img
      class="h-m-7 w-m-7 h-xl-10 w-xl-10"
      src="../../../../../assets/atrib/logo/ATRIB_LOGO_WHITE.svg"
      alt=""
    />
  </div>

  <div class="navigation p-m-05 pi-m-075">
    <h5 class="fs-m-1 fw-m-500 fs-sm-15 fw-sm-800">Navigation</h5>
    <nav class="primary-navigation fs-lg-15" id="primary-navigation">
      <ul role="list" class="gap-sm-2 gap-lg-3" aria-label="Primary">
        <li
          class="fs-m-075 fs-sm-1 mb-m-05 mb-lg-1 fs-lg-125"
          *ngFor="let item of navItems.keys()"
          (click)="selectedPageEmitter.emit(navItems.get(item))"
        >
          {{ item }}
        </li>
      </ul>
    </nav>
  </div>

  <div class="about p-m-05">
    <h5 class="fs-m-075 fs-m-1 fw-m-500 fs-sm-15 fw-sm-800">About</h5>
    <ul>
      <li class="fs-m-075 mb-m-05 fs-sm-1 mb-lg-1 fs-lg-125">
        Terms of Service
      </li>
      <li class="fs-m-075 mb-m-05 fs-sm-1 mb-lg-1 fs-lg-125">Privacy Policy</li>
    </ul>
  </div>
</div>
