<footer class="bg-neutral-900 text-neutral-100 padding-block-600">
  <div class="container">
    <div class="even-columns">
      <div>
        <a href="#"><img src="../assets/images/logo.svg" alt="" /></a>
        <ul role="list" aria-label="social links">
          <li class="flow">
            <a aria-label="facebook" href="#"
              ><img src="../assets/images/icon-facebook.svg" alt="facebook"
            /></a>
          </li>
          <li class="flow">
            <a aria-label="youtube" href="#"
              ><img src="../assets/images/icon-youtube.svg" alt=""
            /></a>
          </li>
          <li class="flow">
            <a aria-label="twitter" href="#"
              ><img src="../assets/images/icon-twitter.svg" alt=""
            /></a>
          </li>
          <li class="flow">
            <a aria-label="pinterest" href="#"
              ><img src="../assets/images/icon-pinterest.svg" alt=""
            /></a>
          </li>
          <li class="flow">
            <a aria-label="instagram" href="#"
              ><img src="../assets/images/icon-instagram.svg" alt=""
            /></a>
          </li>
        </ul>
      </div>
      <div>
        <nav class="footer-nav">
          <ul aria-label="Footer">
            <li class="flow"><a href="#">Home</a></li>
            <li class="flow"><a href="#">Pricing</a></li>
            <li class="flow"><a href="#">Products</a></li>
            <li class="flow"><a href="#">About us</a></li>
            <li class="flow"><a href="#">Careers</a></li>
            <li class="flow"><a href="#">Community</a></li>
            <li class="flow"><a href="#">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <form action="">
          <input type="email" />
          <button type="submit" class="button">Go</button>
          <p>Copyright 2023. All rights reserved</p>
        </form>
      </div>
    </div>
  </div>
</footer>
