@use "../../../../../styles.scss" as scss;

.container {
  display: grid;

  grid-template-columns: 50% 25% 25%;
  grid-template-areas:
    "header navigation about"
    "header navigation about";

  // background: linear-gradient(
  //   90deg,
  //   map-get(scss.$atrib-palette-accent, 500) 0%,
  //   map-get(scss.$atrib-palette-accent, 300) 100%
  // );
  color: scss.$atrib-text-color;

  @media (max-width: 699px) {
    grid-template-columns: 40% 30% 30%;
  }
}

.logo-wrapper {
  display: grid;
  place-items: center;

  img {
    display: inline-block;
    object-fit: contain;
  }
}

ul {
  list-style: none;

  li {
    &:hover {
      cursor: pointer;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  grid-area: navigation;
}

.about {
  display: flex;
  flex-direction: column;
  grid-area: about;
}
