<section class="mb-m-0 mt-m-25 mt-mg-5">
  <div class="two-columns ai-lg-center ji-lg-center mi-mg-5">
    <div appTwoColsImg class="illustration">
      <img
        src="../../../../../assets/atrib/landing/section_2/cards/card_2.svg"
        alt=""
      />
    </div>

    <div class="content pi-m-15 pi-lg-0 pb-m-1 cw-lg-75 cw-xl-70">
      <div class="header">
        <h2 class="fs-m-3 fs-xl-4">Smoothly fetch your data</h2>
      </div>
      <div class="desc mb-m-15 fs-m-125 lh-m-175">
        <p>
          Fetch sales and marketing data from most major digital platforms, e.g.
          Shopify, Stripe, Google and Facebook, by just connecting your account.
          Offline data, e.g. TV advertising spend can easily be uploaded in a
          supported format.
        </p>
        <p>
          Easy to connect all your digital channels and even easier to revoke a
          connection.
        </p>
        <p>Offline data can be uploaded in Excel or CSV format.</p>
        <p class="mt-xl-3 fs-xl-2">
          All your data is stored with bank-grade security and only you can
          access it.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-m-0 mb-xl-5">
  <div class="two-columns ai-lg-center ji-lg-center" data-type="reverse">
    <div class="illustration p-m-1 p-sm-05 p-xl-5">
      <img src="../../../../../assets/atrib/how/card_1.svg" alt="" />
    </div>

    <div class="content pi-m-15 pi-lg-0 pb-m-1 cw-lg-75 cw-xl-70">
      <div class="header">
        <h2 class="fs-m-3 fs-xl-4">Visualise and analyse</h2>
      </div>
      <div class="desc mb-m-15 fs-m-125 lh-m-175">
        <p>
          Once your data is loaded, you get a visual overview of your sales and
          marketing activities. This allows you to see how the different
          marketing channels actually contribute to driving your sales. You can
          also use our clever overlays of publicly available data to understand
          how and when external factors impact your business.
        </p>
        <p>
          Contextual details enabling interactive deep-dives into your data.
        </p>
        <p>
          Advanced visual and analytical tools, including trend and trend break
          detection.
        </p>
        <p class="mt-xl-3 fs-xl-2">
          External data layers, including Google Trends, financial indicators,
          Covid-19 levels, holidays and weather data.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-m-1">
  <div class="two-columns ai-lg-center ji-lg-center">
    <div class="illustration p-m-1 p-sm-05 p-xl-5">
      <img src="../../../../../assets/atrib/how/card_2.svg" alt="" />
    </div>

    <div class="content pi-m-15 pi-lg-0 pb-m-1 cw-lg-75 cw-xl-70">
      <div class="header">
        <h2 class="fs-m-3 fs-xl-4">Add events and campaigns</h2>
      </div>
      <div class="desc mb-m-15 fs-m-125 lh-m-175">
        <p>
          If you do marketing or sales related events, such as trade shows or
          store promotions, you can manually add these. The same goes for
          isolated marketing campaigns, which could not be fetched digitally or
          uploaded.
        </p>
        <p>
          Start- and end dates are defined for events and campaigns and
          associated costs can be added.
        </p>
        <p class="mt-xl-3 fs-xl-2">
          The intended outcome can be defined for each event or campaign, e.g.
          increase online sales or gain subscribers.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-m-1">
  <div class="two-columns ai-lg-center ji-lg-center" data-type="reverse">
    <div class="illustration p-m-1 p-sm-05 p-xl-5">
      <img src="../../../../../assets/atrib/how/card_3.svg" alt="" />
    </div>

    <div class="content pi-m-15 pi-lg-0 pb-m-1 cw-lg-75 cw-xl-70">
      <div class="header">
        <h2 class="fs-m-3 fs-xl-4">See the real performance</h2>
      </div>
      <div class="desc mb-m-15 fs-m-125 lh-m-175">
        <p>
          With marketing and sales data loaded, event or campaign costs added
          and intended outcomes defined, Atrib can isolate the effects of your
          marketing investments and calculate the actual ROI/ROAS for each
          channel.
        </p>
        <p>
          With the visual overview of your activities and hard facts around the
          performance of each marketing initiative, you are ready to tweak your
          strategy to perform even better in the future.
        </p>

        <p class="mt-xl-3 fs-xl-2">
          Once you have significant data on your new, tweaked strategy, you run
          it through Atrib again to see how you can improve even more! 🚀
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-m-1">
  <div class="two-columns ai-lg-center ji-lg-center">
    <div class="illustration p-m-1 p-sm-05 p-xl-5">
      <img src="../../../../../assets/atrib/how/card_4.svg" alt="" />
    </div>

    <div class="content pi-m-15 pi-lg-0 pb-m-1 cw-lg-75 cw-xl-70">
      <div class="header">
        <h2 class="fs-m-3 fs-xl-4">What Atrib also can do</h2>
      </div>
      <div class="desc mb-m-15 fs-m-125 lh-m-175">
        <p>
          We have built what is probably the best visualisation platform for
          marketing data out there. We have also added smooth connections with
          most major digital marketing channels, so that our users can easily
          fetch and view their own data. On top of this, we have added clever
          layers of publicly available data, to show how businesses are impacted
          by external factors, providing an eye-opening view on any marketing
          driven SME.
        </p>
        <p class="mt-xl-3 fs-xl-2">We offer all this entirely for free.</p>
      </div>
    </div>
  </div>
</section>
