<div class="container pb-m-3 pb-xl-5">
  <div class="two-columns pi-m-05 mi-mg-1">
    <div appTwoColsImg class="illustration">
      <!-- src="../../../../../assets/atrib/landing/section_2/cards/card_2.svg" -->
      <img
        src="../../../../../assets/atrib/landing/section_2/cards/card_2.svg"
        alt=""
      />
    </div>

    <div class="intro p-m-2 pi-md-5">
      <div class="header">
        <h1 class="fs-m-3 fs-sm-25 fs-lg-3 fs-xl-4">
          We democratise advanced marketing tools, so that you can
        </h1>
      </div>
      <div class="content mb-m-25 mb-xl-15">
        <ul
          class="fs-m-125 lh-m-2 fs-sm-1 lh-sm-15 fs-lg-125 lh-lg-175 fs-xl-15 lh-xl-25"
        >
          <li>
            <p>Visualise your sales and marketing data</p>
          </li>
          <li class=" ">
            <p>See which marketing channels drive sales</p>
          </li>
          <li>
            <p>Identify the channels with highest ROI</p>
          </li>
          <li>
            <p>Understand the impact of external factors</p>
          </li>
        </ul>
      </div>

      <div class="cta ai-m-center jc-m-center jc-md-start">
        <button mat-raised-button color="accent" appButton>Get started</button>
      </div>
    </div>
  </div>
</div>

<section>
  <div
    class="card-container container gap-m-2 gap-mg-5 pb-m-3 pb-xl-5 mi-m-5 mi-sm-10 mi-md-1 mi-lg-5 mi-xl-12"
  >
    <app-card
      title="Easily Fetch your Data"
      details="Smoothly integrate your marketing and sales channels"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_1.svg"
    ></app-card>
    <app-card
      title="Visualise Performance"
      details="Get an eye-opening view on what really drives your sales"
      imgUrl="../../../../../assets/atrib/how/card_4.svg"
    ></app-card>
    <app-card
      title="Calculate & compare ROI"
      details="Identify your best and worst performing marketing initiatives"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_3.svg"
    ></app-card>
    <app-card
      title="Measure External Impact"
      details="Understand how key external factors impact your business"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_4.svg"
    ></app-card>
    <app-card
      title="Make Informed Decisions"
      details="Simply improve your marketing decision making with Atrib"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_5.svg"
    ></app-card>
    <app-card
      title="Save Money or Sell More"
      details="Allocate your spend wisely and save money or sell more"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_6.svg"
    ></app-card>
  </div>
</section>
