@use "../../../../../styles.scss" as scss;

.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.illustration {
  display: grid;
  place-content: center center;
}

.intro {
  display: grid;

  .header {
    height: fit-content;
    h1 {
      font-weight: 800;
      font-family: scss.$conv-font;
      color: scss.$atrib-text-color;
    }
  }

  .content {
    display: grid;

    ul {
      display: grid;

      li {
        display: flex;
        font-family: scss.$special-font;
        font-weight: 400;
        font-style: italic;
        color: scss.$atrib-text-color;
      }
    }
  }

  .cta {
    display: grid;
    button {
      color: white;
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: minmax(calc(175px + 2 * 1rem), auto);
  justify-content: center;
  align-items: center;
}
