<ng-template #default>
  <h6>Ups! Something went wrong</h6>
</ng-template>

<div class="global-container" scrollToSection #scrollRef="scrollInstance">
  <header appMaxWidth forceMaxWidth="100vw" id="header">
    <app-header
      [navItems]="menuItems"
      [mobileMenuActive]="mobileMenuActive"
      [isSmallScreen]="isSmallScreen$ | async"
      (activateMobileMenuEmitter)="onActivateMobileMenuChanged($event)"
      (selectedPageEmitter)="onPageSelected($event)"
    >
    </app-header>
  </header>

  <main appMaxWidth class="mt-xl-4">
    <ng-container [ngSwitch]="selectedPage$ | async">
      <ng-container *ngSwitchCase="'home'">
        <!-- <app-home></app-home> -->
        <app-intro (selectedPageEmitter)="onPageSelected($event)"></app-intro>
      </ng-container>

      <ng-container *ngSwitchCase="'why'">
        <app-why></app-why>
      </ng-container>

      <ng-container *ngSwitchCase="'how'">
        <app-how></app-how>
      </ng-container>

      <ng-container *ngSwitchCase="'sandbox'">
        <sandbox-frontpage></sandbox-frontpage>
      </ng-container>
    </ng-container>
  </main>

  <footer appMaxWidth>
    <app-footer
      [navItems]="menuItems"
      (selectedPageEmitter)="
        onPageSelected($event); scrollRef.scrollToTarget('header', true)
      "
    ></app-footer>
  </footer>
</div>
