.container {
  position: relative;
  display: flex;
  border: black 3px dashed;
  background-color: rgb(83, 81, 81);
  padding: 2rem;
  justify-content: center;
  align-items: center;

  .content {
    color: white;
  }
}
