<header class="primary-header">
  <div class="container">
    <div class="nav-wrapper">
      <a href=""><img src="../assets/images/logo.svg" alt="manage" /></a>
      <button
        class="mobile-nav-toggle"
        aria-controls="primary-navigation"
        aria-expanded="false"
      >
        <img
          src="../assets/images/icon-hamburger.svg"
          alt=""
          aria-hidden="true"
        />
        <img
          class="icon-closed"
          src="../assets/images/icon-close.svg"
          alt=""
          aria-hidden="true"
        />
        <span class="visually-hidden">Menu</span>
      </button>
      <nav class="primary-navigation" id="primary-navigation">
        <ul role="list" class="nav-list" aria-label="Primary">
          <li class="flow"><a href="#">Pricing</a></li>
          <li class="flow"><a href="#">Product</a></li>
          <li class="flow"><a href="#">About</a></li>
          <li class="flow"><a href="#">Career</a></li>
          <li class="flow"><a href="#">Community</a></li>
        </ul>
      </nav>
      <button class="button | display-md-inline-flex">Get Started</button>
    </div>
  </div>
</header>

<main>
  <section class="padding-block-600">
    <div class="container">
      <div class="even-columns">
        <div class="flow">
          <h1 class="fs-primary-heading fw-bold">
            Bring everyone together to build better products
          </h1>
          <p>Manage makes it simple for software developers</p>
          <button class="button">Get started</button>
        </div>

        <div>
          <img src="../assets/images/illustration-intro.svg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-600">
    <div class="container">
      <div class="even-columns">
        <div class="flow">
          <h2 class="fs-secondary-heading fw-bold">
            What's different about Manage?
          </h2>
          <p>Manage provide all the functionality</p>
        </div>
        <div>
          <ul role="list">
            <li class="flow">
              <h3 class="fs-600 fw-bold">Track company-wide progress</h3>
              <p data-width="full">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti id eius aliquam odio. Laborum mollitia ullam, quam
                laudantium officia, corporis nulla tempore voluptates hic odit
                eum impedit voluptatum ducimus aperiam.
              </p>
            </li>
            <li class="flow" style="--flow-spacer: 3em">
              <h3 class="fs-600 fw-bold">Advanced built-in reports</h3>
              <p data-width="full">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptas harum repellat autem ad aut, hic nisi dicta adipisci
                perspiciatis totam pariatur, libero numquam dolore. Minima nulla
                repellat alias doloribus accusantium.
              </p>
            </li>
            <li class="flow" style="--flow-spacer: 3em">
              <h3 class="fs-600 fw-bold">Everything you need in one place</h3>
              <p data-width="full">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                natus eos vitae accusantium illum inventore provident molestias,
                repellendus recusandae mollitia itaque ullam voluptatem nesciunt
                soluta omnis dolorum non laborum necessitatibus.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="carousel padding-block-600 fw-bold">
    <h2 class="fs-secondary-heading">What they've said</h2>
    <!-- carousel here -->
    <button class="button">Get Started</button>
  </section>
  <section
    class="cta | padding-block-900 bg-accent-400 text-neutral-100 padding-block-600"
  >
    <div class="container">
      <div class="even-columns vertical-align-center">
        <div>
          <p class="fs-secondary-heading fw-bold">
            Simplify how your team works today
          </p>
        </div>
        <div class="justify-self-end">
          <button class="button" data-type="inverted">Get Started</button>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="bg-neutral-900 text-neutral-100 padding-block-600">
  <div class="container">
    <div class="even-columns">
      <div>
        <a href="#"><img src="../assets/images/logo.svg" alt="" /></a>
        <ul role="list" aria-label="social links">
          <li class="flow">
            <a aria-label="facebook" href="#"
              ><img src="../assets/images/icon-facebook.svg" alt="facebook"
            /></a>
          </li>
          <li class="flow">
            <a aria-label="youtube" href="#"
              ><img src="../assets/images/icon-youtube.svg" alt=""
            /></a>
          </li>
          <li class="flow">
            <a aria-label="twitter" href="#"
              ><img src="../assets/images/icon-twitter.svg" alt=""
            /></a>
          </li>
          <li class="flow">
            <a aria-label="pinterest" href="#"
              ><img src="../assets/images/icon-pinterest.svg" alt=""
            /></a>
          </li>
          <li class="flow">
            <a aria-label="instagram" href="#"
              ><img src="../assets/images/icon-instagram.svg" alt=""
            /></a>
          </li>
        </ul>
      </div>
      <div>
        <nav class="footer-nav">
          <ul aria-label="Footer">
            <li class="flow"><a href="#">Home</a></li>
            <li class="flow"><a href="#">Pricing</a></li>
            <li class="flow"><a href="#">Products</a></li>
            <li class="flow"><a href="#">About us</a></li>
            <li class="flow"><a href="#">Careers</a></li>
            <li class="flow"><a href="#">Community</a></li>
            <li class="flow"><a href="#">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <form action="">
          <input type="email" />
          <button type="submit" class="button">Go</button>
          <p>Copyright 2023. All rights reserved</p>
        </form>
      </div>
    </div>
  </div>
</footer>
