@use "../styles.scss" as scss;

$icons: "eye" "\f112"12px, "start" "\f12e"16px, "stop" "\f12f"10px;

@each $name, $glyph, $size in $icons {
  .icon-#{$name}:before {
    display: inline-block;
    font-family: "Icon Font";
    content: $glyph;
    font-size: $size;
    background-color: orchid;
  }
}

$bgc: green;

body {
  font-size: scss.$ff-body;
  font-family: scss.$special-font;
  color: scss.$clr-primary-400;
}

section {
  border: scss.$atrib-blue dashed 3px;
}

.container {
  --bgcc: scss.$dark-blue;
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  background-color: var(--bgcc);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    display: inline-block;
    width: 200px;
    height: 100%;
    padding: 1rem;
    object-fit: contain;
  }
}

.nav-list {
  display: flex;
  gap: clamp(1.5rem, 5vw, 3rem);
  font-family: 500;

  a {
    color: scss.$atrib-green;
    text-decoration: none;
    background-color: papayawhip;

    &:focus,
    :hover {
      color: green;
    }
  }
}

.container[data-clr="red"] {
  //--bgcc: purple;
}
p:not([class]) {
  opacity: 0.75;
  background-color: rgb(221, 216, 216);
  max-width: 35ch;
}

p[data-width="full"] {
  max-width: 45ch;
}

// .even-columns {
//   display: grid;
//   //grid-template-columns: 50% 50%;
//   gap: 1rem;
//   border: red 2px solid;
//   &:nth-child(1) {
//     background-color: rgb(47, 196, 255);
//   }
//   &:nth-child(2) {
//     background-color: rgb(189, 235, 23);
//   }
// }

// @media (min-width: 50em) {
//   .even-columns {
//     grid-auto-flow: column;
//     grid-auto-columns: 1fr;
//   }
// }

.cta {
  position: relative;
  isolation: isolate;
  font-family: scss.$conv-font;

  ::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("../assets/images/bg-tablet-pattern.svg"),
      url("../assets/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: -10rem -5rem, 80rem -40rem;
    opacity: 0.025;
  }
}

@media (min-width: 50em) {
  .cta {
    text-align: left;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}
