@use "@angular/material" as mat;
@use "../../../../../styles.scss" as scss;

@mixin section-text-clr() {
  color: white;
}

@mixin header() {
  @include section-text-clr();
  font-weight: 800;
  font-family: scss.$special-font;
}

@mixin desc() {
  @include section-text-clr();
  font-weight: 300;
  font-family: scss.$conv-font;
}

@mixin section() {
  gap: 1rem;
  border-radius: 0.25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "lightgreen green"
    "lightgreen yellow"
    "turqoise turqoise";
  height: 100%;
  min-height: 80vh;
  max-width: 1500px;
  margin-inline: auto;

  @media (max-width: 699px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "lightgreen"
      "green"
      "yellow"
      "turqoise";
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background: linear-gradient(90deg, hsl(0, 0%, 65%) 0%, hsl(0, 0%, 70%) 100%);

  h1 {
    color: map-get(scss.$atrib-palette-primary, 800);
    color: scss.$dark-text; //hsl(0, 0%, 40%);
    text-align: center;
  }
}

.lightgreen {
  @include section();
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: lightgreen;
  background-color: map-get(scss.$atrib-palette-primary, 500);

  background: linear-gradient(
    90deg,
    map-get(scss.$atrib-palette-primary, 500) 0%,
    map-get(scss.$atrib-palette-primary, 700) 100%
  );

  h4 {
    @include header();
  }

  span {
    color: map-get(scss.$atrib-palette-primary, 600);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    ul {
      list-style: none;
      padding-inline: 0.5rem;
      padding-block: 1rem;

      li {
        font-style: italic;
        margin-block: 1rem;

        &:nth-child(2) {
          color: map-get(scss.$atrib-palette-primary, 600);
        }
      }
    }

    p {
      @include desc();
      font-weight: 400;
    }
  }

  .img-section {
    display: grid;
    place-items: center center;

    button {
      border: map-get(scss.$atrib-palette-primary, 200) solid 2px;
    }
  }
}

.green {
  grid-area: green;
  background-color: map-get(scss.$atrib-palette-primary, 900);
  background: linear-gradient(
    90deg,
    map-get(scss.$atrib-palette-accent, 800) 0%,
    map-get(scss.$atrib-palette-accent, 200) 100%
  );
  @include section();
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 699px) {
    grid-template-columns: 1fr;
  }

  h4 {
    @include header();
    //color: map-get(scss.$atrib-palette-accent, 800);
    grid-column: span 1;
    grid-row: 1;
  }
  p {
    @include desc();
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .img-section {
    display: grid;
    place-items: center center;
    grid-column: 2 / 3;
    grid-row: span 2;

    @media (max-width: 699px) {
      grid-column: 1;
      grid-row: span 1;
    }

    img {
      display: inline-block;
      object-fit: contain;
      transform: scale(5);

      @media (max-width: 699px) {
        transform: scale(3);
      }
    }
  }
}

.yellow {
  @include section();
  display: grid;
  grid-area: yellow;
  background-color: map-get(scss.$atrib-palette-primary, 50);
  background: linear-gradient(
    90deg,
    map-get(scss.$atrib-palette-primary, 100) 0%,
    map-get(scss.$atrib-palette-primary, 200) 100%
  );
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 699px) {
    grid-template-columns: 1fr;
  }

  h4 {
    @include header();
    color: map-get(scss.$atrib-palette-primary, 900);
    grid-column: span 1;
    grid-row: 1;
  }
  p {
    @include desc();
    color: map-get(scss.$atrib-palette-primary, 900);
    font-weight: 400;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .img-section {
    display: grid;
    place-items: center center;
    grid-column: 2 / 3;
    grid-row: span 2;

    @media (max-width: 699px) {
      grid-column: 1;
      grid-row: span 1;
    }

    img {
      display: inline-block;
      object-fit: contain;
      transform: scale(5);

      @media (max-width: 699px) {
        transform: scale(3);
      }
    }
  }
}

.turqoise {
  @include section();
  display: grid;
  grid-area: turqoise;
  background-color: map-get(scss.$atrib-palette-primary, 200);
  background: linear-gradient(
    90deg,
    map-get(scss.$atrib-palette-accent, 100) 0%,
    map-get(scss.$atrib-palette-accent, 300) 100%
  );
  grid-template-columns: 2fr 1fr;

  @media (max-width: 699px) {
    grid-template-columns: 1fr;
  }

  h4 {
    @include header();
    color: scss.$dark-text;
    grid-column: span 1;
    grid-row: 1;
  }
  p {
    @include desc();
    color: scss.$dark-text;
    font-weight: 400;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .img-section {
    display: grid;
    place-items: center center;
    grid-column: 2 / 3;
    grid-row: span 2;

    @media (max-width: 699px) {
      grid-column: 1;
      grid-row: span 1;
    }

    img {
      display: inline-block;
      object-fit: contain;
      transform: scale(5);
      margin-left: 4rem;

      @media (max-width: 699px) {
        transform: scale(3);
      }
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: minmax(calc(175px + 2 * 1rem), auto);
  justify-content: center;
  align-items: center;
}
