<div
  @reveal
  appMaxWidth
  forceMaxWidth="1500px"
  class="container gap-m-2 pb-m-1 pi-m-1 pi-md-5 pb-xl-0"
>
  <div class="header pb-m-1 pb-sm-2 pb-xl-2">
    <h1 class="fs-m-3 fw-m-800 mb-m-2 fs-lg-4 cw-md-75 cw-xl-50">
      We democratise advanced marketing tools
    </h1>

    <button mat-button appAtButton>Read more</button>
  </div>
  <div class="lightgreen pi-m-3 pi-sm-15 pb-m-2 pb-sm-15 pi-mg-5 pb-mg-25">
    <h4 class="fs-m-2 fs-lg-25 fs-mg-3">
      Sales modelling in
      <span style="color: hsl(240, 25%, 65%)">three</span> easy steps
    </h4>

    <div class="content">
      <ul>
        <li>
          <p class="fs-m-1 fs-lg-15 fs-mg-15">
            Switch between different models that best supports your case
          </p>
        </li>
        <li>
          <p class="fs-m-1 fs-lg-15 fs-mg-15">
            Interactive output and scenario analysis
          </p>
        </li>
        <li>
          <p class="fs-m-1 fs-lg-15 fs-mg-15">
            Easy application of your business know-how on seasonality, holidays
            and events
          </p>
        </li>
      </ul>
    </div>

    <div class="img-section pb-m-15">
      <button mat-raised-button color="primary" appAtButton class="mi-sm-2">
        Try it now
      </button>
    </div>
  </div>
  <div class="green pi-m-3 pi-sm-15 pb-m-2 pb-sm-15 pi-mg-5 pb-mg-2">
    <h4 class="fs-m-2 fs-lg-25 fs-mg-3">Visualise your marketing data</h4>
    <p class="fs-m-1 pb-m-05 fs-lg-125 fs-mg-125">
      Interactive charts that sparks awareness supports ideation.
    </p>
    <div class="img-section pb-m-15">
      <img src="../../../../../assets/atrib/intro/chart.svg" alt="" />
    </div>
  </div>
  <div class="yellow pi-m-3 pi-sm-15 pb-m-2 pb-sm-15 pi-mg-5 pb-mg-2">
    <h4 class="fs-m-2 fs-lg-25 fs-mg-3">ROI measurement on marketing event</h4>
    <p class="fs-m-1 pb-m-05 fs-lg-125 fs-mg-125">
      Advanced anormaly detection and event portfolio evaluation. Made simple
      and visual.
    </p>
    <div class="img-section pb-m-15">
      <img src="../../../../../assets/atrib/intro/dollar-square.svg" alt="" />
    </div>
  </div>
  <div class="turqoise pi-m-3 pi-sm-15 pb-m-2 pb-sm-15 pi-mg-5 pb-mg-2">
    <h4 class="fs-m-2 fs-lg-25 fs-mg-3">
      Understand the impact of external factors
    </h4>
    <p class="fs-m-1 pb-m-05 fs-lg-125 fs-mg-125">
      Macro perspective. Through data connectivity we connect your sales and
      marketing data to a global view.
    </p>
    <div class="img-section pb-m-15">
      <img src="../../../../../assets/atrib/intro/global-search.svg" alt="" />
    </div>
  </div>
</div>

<section>
  <div
    appMaxWidth
    forceMaxWidth="1500px"
    class="card-container container gap-m-2 gap-mg-5 pi-m-1 pb-m-3 mi-m-5 mi-sm-10 mi-md-1 pi-md-5 pb-xl-5 mi-lg-5 mi-xl-12"
  >
    <app-card
      class="card"
      title="Easily Fetch your Data"
      details="Smoothly integrate your marketing and sales channels"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_1.svg"
    ></app-card>
    <app-card
      title="Visualise Performance"
      details="Get an eye-opening view on what really drives your sales"
      imgUrl="../../../../../assets/atrib/how/card_4.svg"
    ></app-card>
    <app-card
      title="Calculate & compare ROI"
      details="Identify your best and worst performing marketing initiatives"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_3.svg"
    ></app-card>
    <app-card
      title="Measure External Impact"
      details="Understand how key external factors impact your business"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_4.svg"
    ></app-card>
    <app-card
      title="Make Informed Decisions"
      details="Simply improve your marketing decision making with Atrib"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_5.svg"
    ></app-card>
    <app-card
      title="Save Money or Sell More"
      details="Allocate your spend wisely and save money or sell more"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_6.svg"
    ></app-card>
  </div>
</section>
