<div class="container gap-m-2 pb-m-1 pi-m-1 pi-md-5 pb-xl-0">
  <div class="header pb-xl-2">
    <h1 class="fs-m-3 fw-m-800 mb-m-2 fs-lg-4 cw-lg-75 cw-xl-50">
      We democratise advanced marketing tools
    </h1>
    <button mat-raised-button color="accent" appButton class="mi-sm-2">
      Read more
    </button>
  </div>
  <div class="lightgreen pi-m-3 pi-sm-15 pb-m-2 pb-sm-15 pi-mg-5 pb-mg-10">
    <h4 class="fs-m-2 fs-lg-25 fs-mg-3">
      Visualise your sales and marketing data
    </h4>
    <p class="fs-m-1 pb-m-05 fs-lg-125 fs-mg-125">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
      doloremque quia error aperiam beatae atque vel dolorum odio ex fugit.
    </p>
    <div class="img-section pb-m-15">
      <img src="../../../../../assets/atrib/intro/chart.svg" alt="" />
    </div>
  </div>
  <div class="green pi-m-3 pi-sm-15 pb-m-2 pb-sm-15 pi-mg-5 pb-mg-2">
    <h4 class="fs-m-2 fs-lg-25 fs-mg-3">Sales modelling in three easy steps</h4>
    <p class="fs-m-1 pb-m-05 fs-lg-125 fs-mg-125">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
      doloremque quia error aperiam beatae atque vel dolorum odio ex fugit.
    </p>
    <div class="img-section pb-m-15">
      <button mat-raised-button color="warn" appButton class="mi-sm-2">
        Try it now
      </button>
      <!-- <img src="../../../../../assets/atrib/intro/chart.svg" alt="" /> -->
    </div>
  </div>
  <div class="yellow pi-m-3 pi-sm-15 pb-m-2 pb-sm-15 pi-mg-5 pb-mg-2">
    <h4 class="fs-m-2 fs-lg-25 fs-mg-3">ROI measurement on marketing event</h4>
    <p class="fs-m-1 pb-m-05 fs-lg-125 fs-mg-125">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
      doloremque quia error aperiam beatae atque vel dolorum odio ex fugit.
    </p>
    <div class="img-section pb-m-15">
      <img src="../../../../../assets/atrib/intro/dollar-square.svg" alt="" />
    </div>
  </div>
  <div class="turqoise pi-m-3 pi-sm-15 pb-m-2 pb-sm-15 pi-mg-5 pb-mg-2">
    <h4 class="fs-m-2 fs-lg-25 fs-mg-3">
      Understand the impact of external factors
    </h4>
    <p class="fs-m-1 pb-m-05 fs-lg-125 fs-mg-125">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
      doloremque quia error aperiam beatae atque vel dolorum odio ex fugit.
    </p>
    <div class="img-section pb-m-15">
      <img src="../../../../../assets/atrib/intro/global-search.svg" alt="" />
    </div>
  </div>
</div>

<section>
  <div
    class="card-container container gap-m-2 gap-mg-5 pb-m-3 mi-m-5 mi-sm-10 mi-md-1 pi-md-5 pb-xl-5 mi-lg-5 mi-xl-12"
  >
    <app-card
      title="Easily Fetch your Data"
      details="Smoothly integrate your marketing and sales channels"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_1.svg"
    ></app-card>
    <app-card
      title="Visualise Performance"
      details="Get an eye-opening view on what really drives your sales"
      imgUrl="../../../../../assets/atrib/how/card_4.svg"
    ></app-card>
    <app-card
      title="Calculate & compare ROI"
      details="Identify your best and worst performing marketing initiatives"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_3.svg"
    ></app-card>
    <app-card
      title="Measure External Impact"
      details="Understand how key external factors impact your business"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_4.svg"
    ></app-card>
    <app-card
      title="Make Informed Decisions"
      details="Simply improve your marketing decision making with Atrib"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_5.svg"
    ></app-card>
    <app-card
      title="Save Money or Sell More"
      details="Allocate your spend wisely and save money or sell more"
      imgUrl="../../../../../assets/atrib/landing/section_2/cards/card_6.svg"
    ></app-card>
  </div>
</section>
