// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Plus imports for other components in your app.

@use "../styles/fonts" as fonts;
@use "../styles/colors" as colors;
@use "../styles/mixins" as mix;

@forward "../styles/fonts";
@forward "../styles/colors";
@forward "../styles/elements";
@forward "../styles/util_classes";
@forward "../styles/palettes";
@forward "../styles/mixins";

@use "@angular/material" as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$atrib-landing-page-primary: mat.define-palette(mat.$indigo-palette);
$atrib-landing-page-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$atrib-landing-page-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$atrib-landing-page-theme: mat.define-light-theme(
  (
    color: (
      primary: $atrib-landing-page-primary,
      accent: $atrib-landing-page-accent,
      warn: $atrib-landing-page-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($atrib-landing-page-theme);

//Andy Bells reset css
// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
}
html {
  @include mix.atrib-scrollbar();

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: colors.$atrib-background-color;
}
