@use "../styles/colors" as colors;
//@use "@angular/material" as mat;
@use "../styles/fonts" as fonts;
@use "../styles/themes" as themes;
@use "../styles/palettes" as pals;

.at-btn {
  font-family: fonts.$special-font;
  color: map-get(map-get(themes.$atrib-dark-theme, foreground), text);
}

.at-btn-primary {
  background-color: map-get(pals.$atrib-palette-primary, 400);
}

.at-btn-accent {
  background-color: map-get(pals.$atrib-palette-accent, 400);
}

.at-btn-warn {
  background-color: map-get(pals.$atrib-palette-warn, 400);
}

.two-columns {
  --first-col: 50%;
  --second-col: 50%;
  display: grid;
  height: 100%;
}

@media (min-width: 700px) {
  .two-columns {
    grid-template-columns: var(--first-col, 50%) var(--second-col, 50%);
  }

  .two-columns[data-type="reverse"] {
    grid-template-columns: var(--second-col, 50%) var(--first-col, 50%);
    direction: rtl;
    text-align: left;
    p {
      direction: ltr;
    }
  }
}
