@use "../styles/_variables" as vars;
@use "../styles/colors" as colors;

//Generic classes

.flow * + * {
  margin-top: var(--flow-spacer, 3em);
}

.button {
  display: block;
  width: fit-content;
  border-radius: 100vmax;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: colors.$atrib-blue;
  color: colors.$atrib-text-color;
}
