@use "../styles/_variables" as vars;
@use "../styles/colors" as colors;

//Generic classes

.two-columns {
  --first-col: 50%;
  --second-col: 50%;
  display: grid;
  height: 100%;
}

@media (min-width: 700px) {
  .two-columns {
    grid-template-columns: var(--first-col, 50%) var(--second-col, 50%);
  }

  .two-columns[data-type="reverse"] {
    grid-template-columns: var(--second-col, 50%) var(--first-col, 50%);
    direction: rtl;
    text-align: left;
    p {
      direction: ltr;
    }
  }
}

.button {
  display: block;
  width: fit-content;
  border-radius: 100vmax;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: colors.$atrib-blue;
  border: 0.1px solid darken(colors.$atrib-blue, 5%);
  box-shadow: 0px 0px 1.5px 0.1px colors.$atrib-blue;
}
