$atrib-palette-primary: (
  50: #e2edf5,
  100: #b7d3e5,
  200: hsl(204, 47%, 68%),
  300: hsl(204, 47%, 55%),
  400: #3281b5,
  500: #0e6ba8,
  600: #0c63a0,
  700: hsl(207, 88%, 32%),
  800: #084e8d,
  900: #043c7d,
  A100: #aaccff,
  A200: #77adff,
  A400: #448fff,
  A700: #2a7fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$atrib-palette-accent: (
  50: hsl(102, 52%, 94%),
  100: #cdeac0,
  200: hsl(102, 51%, 73%),
  300: #89cf6b,
  400: hsl(102, 50%, 53%),
  500: #57ba2c,
  600: hsl(103, 64%, 43%),
  700: hsl(104, 68%, 40%),
  800: #3ca31b,
  900: hsl(107, 80%, 32%),
  A100: #cfffc5,
  A200: #a5ff92,
  A400: #7bff5f,
  A700: #66ff46,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$atrib-palette-warn: (
  50: #f3e2e2,
  100: #e1b6b6,
  200: #cd8686,
  300: #b85555,
  400: #a93030,
  500: #9a0c0c,
  600: #920a0a,
  700: hsl(0, 89%, 28%),
  800: #7e0606,
  900: #6c0303,
  A100: #ff9c9c,
  A200: #ff6969,
  A400: #ff3636,
  A700: hsl(0, 100%, 55%),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
