@use "@angular/material" as mat;
@use "./palettes" as pal;

$primary: mat.define-palette(pal.$atrib-palette-primary);
$accent: mat.define-palette(pal.$atrib-palette-accent);
$warn: mat.define-palette(pal.$atrib-palette-warn);

$atrib-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

$atrib-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($atrib-dark-theme);
@include mat.core();
